.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: #fff !important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem 2rem 0 2rem;
}

.popup-close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-weight: bold;
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    color: #1f2937;
}

.popup-close:hover {
    background-color: #d1d5db;
}

#popupTitle {
    font-size: 150%;
    font-weight: 500;
    color: #182946;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1%;
}

.element {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

#description {
    width: 100% !important;
}

#description .svg {
    margin-right: 1% !important;
}

#tags {
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #182946;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
    border-radius: 20px;
    margin-left: 1rem;
    width: 23%;
    margin-bottom: 1rem;
}

.svg svg {
    width: 2rem;
    height: 2rem;
}

.block {
    display: flex;
    align-items: center;
    margin-right: 2%;
    width: 50%;
    gap: 0.5rem;
}

#dateEvent .block {
    display: flex;
    gap: 0.5rem;
}

.fc-event-custom {
    cursor: pointer;
    transition: all 0.2s;
    color: #fff;
    padding-left: 5px;
}
