.custom-time-header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

.custom-time-header .time-label {
    margin-right: 20px;
}

.flatpickr-time {
    display: flex;
    justify-content: space-around;
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 2rem;
    column-gap: 1.5rem;
    padding-top: 2rem;
    margin-left: 8rem;
}

.page-header {
    font-weight: 600;
    font-size: 1.25rem;
    color: #1f2937;
    line-height: 1.75rem;
    margin-left: 7rem;
}

.inner-container {
    overflow: hidden;
    padding: 2rem;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    justify-content: center;
    width: fit-content;
}

.action-bar {
    margin: 1.5rem 1.5rem 0 1.5rem;
    text-align: right;
}

.admin-list-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    transition: box-shadow 0.3s;
}

.admin-list-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
    position: flex;
    flex-direction: columns;
}

.card-name {
    padding: 1rem 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
}

.card-subtext {
    padding: 0 0.5rem 1rem 0.5rem;
    font-size: 0.875rem;
    color: #4b5563;
}

.card-actions {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

@media screen and (min-width: 1025px) {
    .list-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-left: 8rem;
    }
}

@media screen and (min-width: 1440px) {
    .page-header {
        margin-left: 2rem;
    }

    .list-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-left: 2.5rem;
    }
}
